---
layout: default
meta: Projeto Fablab
---

<!-- ==== Navbar ==== -->

<header>

  {% include nav.html %}

</header><!-- site-header -->


{% for item in site.data.visaogeral %}

			<div class="col-md-6"><a id={{item.name}} name={{item.name}}></a>
			</div> <!-- col -->
<div align=center>
			<div class="col-md-6" align=center>
				
				<h3> {{item.title}} </h3>
				<br>
					<!-- test -->
					{% for prop in item.conteudo %}
					{% if prop[0] = "paragrafo" %} <p> {{prop[1]}} </p><br> {% endif %}
					{% if prop[0] = "imagem" %} <img src="{{prop[1]}}"/><br> {% endif %}
					{% if prop[0] = "legenda" %} <p><small> {{prop[1]}} </small></p><br><br> {% endif %}
					
					{% endfor %}
					{% if item.link != "" %}<li><strong>About the use:</strong><a target="_blank" href={{item.linkurl}}> {{item.link}}</a></li>{% endif %}
					<br><br><br>
					<!-- test -->
			</div> <!-- col -->
			<div class="container" id="separator-pages-top"></div>

			{% endfor %}


{% include eu_projects.html %}



{% include content_blocks.html %}

<div class="container">
  <div id="separator"></div>
</div>

{% include collaborators.html %}

{% include footer.html %}
