---
layout: default
meta: Projeto Fablab
---

<!-- ==== Navbar ==== -->

<header>

  {% include nav.html %}

</header><!-- site-header -->


{% for item in site.data.visaogeral %}

			<div class="col-md-6"><a id={{item.name}} name={{item.name}}></a>
				<br>
				<img src="{{site.baseurl}}{{item.image}}"/><br>
			</div> <!-- col -->

			<div class="col-md-6" align=center>
				<h3> {{item.title}} </h3>
				<br>
				<p> {{item.paragrafo}} </p>
				<br>
				<img src="{{site.baseurl}}{{item.image}}"/>
				<br>
				<ul style="list-style: outside;">
					<!-- test -->
					{% for prop in item.machineprops %}
					<li><strong class="text-capitalize">{{prop[0]}}: </strong> {{prop[1]}}</li>
					{% endfor %}
					{% if item.link != "" %}<li><strong>About the use:</strong><a target="_blank" href={{item.linkurl}}> {{item.link}}</a></li>{% endif %}
					<br><br><br>
					<!-- test -->
				</ul>
			</div> <!-- col -->
			<div class="container" id="separator-pages-top"></div>

			{% endfor %}



<a id="descricao"> </a>

<a id="objetivo"> </a>

<a id="metodologia"> </a>


{% include eu_projects.html %}



{% include content_blocks.html %}

<div class="container">
  <div id="separator"></div>
</div>

{% include collaborators.html %}

{% include footer.html %}
