---
layout: default
meta: One of the leading laboratories of the worldwide network of Fab Labs
---

<!-- ==== Navbar ==== -->

<header>

  {% include nav.html %}

</header><!-- site-header -->

<a id="descricao"> </a>
<section id="hero">

  <div class="container" id="carousel-container">

    <div id="carousel-fade" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner">
        
        {% include carousel-slider.html %}
      </div> <!-- carousel-inner -->

      <div class="carousel-caption">
        <img id="main-logo" src="{{site.baseurl}}/img/logos/logo_fablab_bcn_medium_color.png"/>
        <br><br>
        <p>One of the leading laboratories of the worldwide network of Fab Labs</p>	
        <br>
        {% include social.html %}
      </div> <!-- carousel-caption -->

    </div> <!-- carousel-fade -->

  </div> <!-- carousel-container -->

</section> <!-- hero -->
<a id="objetivo"> </a>
<section id="latest-news-banner">
  <div class="container">
    <a target="_blank" href="https://barcelona.makerfaire.com/contact/convocatoria-makers/"><img src="{{site.baseurl}}/uploads/makerfair.gif" class="img-responsive"/>  </a>
  </div> <!-- container -->
</section>
<a id="metodologia"> </a>
<section id="latest-news-banner">
  <div class="container">
    <a target="_blank" href="https://iaac.net/educational-programmes/masters-programmes/master-in-design-for-emergent-futures-mdef/"><img src="{{site.baseurl}}/uploads/MDEF.gif" class="img-responsive"/>  </a>
  </div> <!-- container -->
</section>

<section id="fabri-banner">
  <div class="container">
    <a target="_blank" href="https://fablabbcn.org/fabricademy.html"><img src="{{site.baseurl}}/img/fabricademy/fabri19.jpg" class="img-responsive"/>  </a>
  </div>
</section>

<section id="latest-news-banner">
  <div class="container">
    <a target="_blank" href="http://fab.city/"><img src="{{site.baseurl}}/img/news_banner/banner_fab_city_m.jpg" class="img-responsive"/>  </a>
  </div> <!-- container -->
</section> <!-- section -->

{% include eu_projects.html %}

<section id="latest-news-banner">
  <div class="container">
    <a target="_blank" href="https://drive.google.com/file/d/0B1vdN85eXUFEbzQzejhLRXlJZGc/view"><img src="{{site.baseurl}}/img/news_banner/internshipbanner.png" class="img-responsive"/>  </a>
  </div> <!-- container -->
</section> <!-- section -->

{% include content_blocks.html %}

      {% include blog_sidebar.html %}
<div class="container">
  <div id="separator"></div>
</div>

{% include collaborators.html %}

{% include footer.html %}
