<!-- ==== FOOTER ==== -->

<section id="partners">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-4">
      </div> <!-- col -->

      <div class="col-md-4 col-sm-4">
      </div> <!-- col -->

      <div class="col-md-4 col-sm-4">

        <a href="{{site.baseurl}}/legal-notice.html"><strong>Legal Notice</strong></a><br>
        <a href="{{site.baseurl}}/privacy-policy.html"><strong>Privacy Policy</strong></a><br>

        <p id="copy">&copy; 2015 IAAC | Fab Lab Barcelona</p>

      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!--container-->
</section> <!--partners-->


<!--section id="footer">
  <div style="font-size: 1.19em;" class="container">
    <p style="padding:10px"> Designed & Developed by<a target="_blank" href="http://edgaar.net">&nbsp;&nbsp;<strong>edgaar</strong></a> </p>
    <a href="https://github.com/fablabbcn/fablabbcn-web/blob/master/{{page.path}}">Help us fix this page</a>
  </div> <!--container-->
<!--/section--> <!--footer-->
