<!-- ==== FOOTER ==== -->

<section id="partners">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-4">
        <h5>Founded by:</h5><br>
        <a class="partners-content-logos" target="_blank" href="http://iaac.net"><img src="{{site.baseurl}}/img/logos/logo_partners_iaac.png" height="50px"></a>
        <br><br><br>
        <h5>In collaboration with:</h5><br>
        <a class="partners-content-logos" target="_blank" href="http://cba.mit.edu/"><img src="{{site.baseurl}}/img/logos/logo_partners_cba.png" height="70px"></a>
        <br><br><br>
      </div> <!-- col -->

      <div class="col-md-4 col-sm-4">
        <h5>Partners:</h5><br>
        <div class="row">
          <div class="col-md-4">
            <a class="partners-content-logos" target="_blank" href="http://www.aecid.es/"><img src="{{site.baseurl}}/img/logos/logo_partners_aecid.png" class="img-responsive" width="100px"></a><br><br>
          </div> <!-- col -->
          <div class="col-md-4">
            <a class="partners-content-logos" target="_blank" href="http://www.dissenyhubbarcelona.cat/"><img src="{{site.baseurl}}/img/logos/logo_partners_dhub.png" class="img-responsive" width="70px"></a>
          </div> <!-- col -->
        </div>

        <br>

        <div class="row">
          <div class="col-md-7">
            <a class="partners-content-logos" target="_blank" href="http://www.smartcityexpo.com/"><img src="{{site.baseurl}}/img/logos/logo_partners_smartcity.png" class="img-responsive" width="130px"></a><br><br><br>
          </div> <!-- col -->

          <div class="col-md-7 col-sm-10">
            <a class="partners-content-logos" target="_blank" href="http://www.minetur.gob.es/"><img src="{{site.baseurl}}/img/logos/logo_partners_min_ind.png" width="200px"></a> <br><br><br>
          </div> <!-- col -->
        </div>

        <div class="row">
          <div class="col-md-7 col-sm-10">
            <a class="partners-content-logos" target="_blank" href="http://www.mineco.gob.es/"><img src="{{site.baseurl}}/img/logos/logo_partners_min_eco.png" width="200px"></a> <br><br><br>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- col -->

      <div class="col-md-4 col-sm-4" id="partners-visit-us">

        <h5>Visit us</h5>
        <br>
        <p><a href="https://www.google.com/maps?f=q&hl=en&geocode&time&date&ttype&q=Carrer+de+Pujades+102,+08005+Barcelona,+Spain+%28Institute+for+Advanced+Architecture+of+Catalonia%29&sll=41.398558,2.1907&sspn=0.012973,0.028839&ie=UTF8&om=1&t=h&source=embed&hq&hnear=Carrer+de+Pujades,+102,+08005+Barcelona,+Catalunya,+Spain&z=14&ll=41.404561,2.198381" target="blank"> <strong><u>Institut d´arquitectura avançada de Catalunya</u></strong><br />C/Pujades 102 baixos. Poble Nou, Barcelona, 08005, Spain</a></p>
        <p></p>
        <br><br>
        <p>About Fab Lab Barcelona:<br><a href="mailto:info@fablabbcn.org"><strong><u>info@fablabbcn.org</u></strong></a><br />

        About services and products:<br><a href="mailto:pro@fablabbcn.org"><strong><u>pro@fablabbcn.org</u></strong></a><br />

        <br><br>

        <a href="{{site.baseurl}}/legal-notice.html"><strong>Legal Notice</strong></a><br>
        <a href="{{site.baseurl}}/privacy-policy.html"><strong>Privacy Policy</strong></a><br>

        <br><br>
        <a id="fablab-global" target="_blank" href="https://www.fablabs.io/"><img src="{{site.baseurl}}/img/logos/logo_fablab_global.png" height="30px" alt="Fab Lab"></a></p><br>

        <p id="copy">&copy; 2015 IAAC | Fab Lab Barcelona</p>

        <br><br>

      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!--container-->
</section> <!--partners-->


<!--section id="footer">
  <div style="font-size: 1.19em;" class="container">
    <p style="padding:10px"> Designed & Developed by<a target="_blank" href="http://edgaar.net">&nbsp;&nbsp;<strong>edgaar</strong></a> </p>
    <a href="https://github.com/fablabbcn/fablabbcn-web/blob/master/{{page.path}}">Help us fix this page</a>
  </div> <!--container-->
<!--/section--> <!--footer-->
