    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" role="navigation">
        <a class="navbar-brand" href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/img/logos/logo.png" alt="Fab Lab"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Visão geral</a>
            <div class="dropdown-menu">
                
                {% for item in site.data.visaogeral %}
				    {% if item.titulo != "" %}<a class="dropdown-item {% if page.url == '/index.html#{{item.titulo}}' %}active{% endif %}" href="{{site.baseurl}}/index.html#{{item.titulo}}">{{item.titulo}}</a>{% endif %}
				{% endfor %}
               
    
                
                
                <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#">Pesquisa</a>
            </div>
          </li>
		
	<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tutorial</a>
            <div class="dropdown-menu">
                
                {% for item in site.data.tutorial %}
				    {% if item.titulo != "" %}<a class="dropdown-item {% if page.url == '/index.html#{{item.titulo}}' %}active{% endif %}" href="{{site.baseurl}}/index.html#{{item.titulo}}">{{item.titulo}}</a>{% endif %}
				{% endfor %}
               
    
                
                
                <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#">Pesquisa</a>
            </div>
          </li>

		
          <li class="nav-item {% if page.url == '/downloads.html' %}active{% endif %}"><a class="nav-link" href="{{site.baseurl}}/downloads.html">Dowloads</a></li>
          <li class="nav-item {% if page.url == '/about_us.html' %}active{% endif %}"><a class="nav-link" href="{{site.baseurl}}/about_us.html">Sobre Nós</a></li>
        </ul><!-- nav navbar-nav navbar-right -->
      </div><!-- navbar-collapse collapse -->
  </nav><!-- navbar navbar-inverse navbar-fixed-top-->
